[Unit]
Description=horus_rx_dual
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/home/pi/horusdemodlib/start_dual_4fsk.sh
Restart=always
RestartSec=120
WorkingDirectory=/home/pi/horusdemodlib/
User=pi
SyslogIdentifier=horus_rx_dual

[Install]
WantedBy=multi-user.target
